#loading{
    position:fixed;
    width: 100%;
    height: 100%;
    z-index:10000;
    top:0;
    left:0;
    transition: opacity .15s linear;
    opacity: 0;
    display: none;
    background-color:black
}

.loadingShow{
    display: block !important;
    opacity: 0.4 !important;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid  #f07c29;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }