{% extends 'base.html' %}
{% load static %}
{% block cssblock %}
<link rel="stylesheet" type="text/css" href="{% static 'css/productInfo.css' %}">
{% endblock %}
{% block content %}
    
<div class="container mt-5 mb-3 d-flex" id="productInfo">
    <div class="col-lg-9 col-12">
        <div class="row flex-wrap">

            <div id="productSlide" class="carousel slide col-lg-5 col-md-6 col-12 mr-3" data-ride="carousel">
                <div class="carousel-inner">
                    {% for image in images %}
                    <div class='carousel-item'>
                        <img class='d-block w-100' src='http://127.0.0.1:8000/{{image.image}}' alt='First slide'>
                     </div>
                    {% endfor %}
                    <div class='carousel-item active'>
                        <img class='d-block w-100' src='http://127.0.0.1:8000/{{book.image}}' alt='First slide'>
                    </div>
                    <a class="carousel-control-prev" href="#productSlide" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon slideIcon" aria-hidden="true">
                            <i class="fa fa-chevron-left fa-3x"></i>
                        </span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#productSlide" role="button" data-slide="next">
                        <span class="carousel-control-next-icon slideIcon" aria-hidden="true">
                            <i class="fa fa-chevron-right fa-3x"></i>
                        </span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <ol class="carousel-indicators">
                    {% for image in images %}
                    <li data-target='#productSlide' data-slide-to='' class=' indicatorWrapper'>
                        <img src='http://127.0.0.1:8000/{{image.image}}' class='indicatorImg' />
                    </li>
                    {% endfor %}
                        <li data-target='#productSlide' data-slide-to='0' class='active indicatorWrapper'>
                        <img src='http://127.0.0.1:8000/{{book.image}}' class='indicatorImg' />
                    </li>


                    <!-- 
                    <li data-target="#productSlide" data-slide-to="0" class="active indicatorWrapper">
                        <img src="https://template.hasthemes.com/koparion/koparion/img/flex/5.jpg" class="indicatorImg" />
                    </li>
                    <li data-target="#productSlide" data-slide-to="1" class="indicatorWrapper">
                        <img src="https://template.hasthemes.com/koparion/koparion/img/flex/1.jpg" class="indicatorImg" />
                    </li>
                    <li data-target="#productSlide" data-slide-to="2" class="indicatorWrapper">
                        <img src="https://template.hasthemes.com/koparion/koparion/img/flex/2.jpg" class="indicatorImg" />
                    </li>
                    <li data-target="#productSlide" data-slide-to="2" class="indicatorWrapper">
                        <img src="https://template.hasthemes.com/koparion/koparion/img/flex/5.jpg" class="indicatorImg" />
                    </li> -->
                </ol>
            </div>

            <div id="bookInfo" class="col-lg-7 col-md-6 col-12">
                <div class="d-flex flex-column">
                    <h1 class="bookName">
                        {{book.name}}
                    </h1>
                    <div class="bookStatusInfo d-flex pb-3">
                        <span>In Stock</span>
                        <span class="orangeColor"></span>
                        <span>SKU</span>
                        <span>24-WB05</span>
                    </div>

                    <div class="bookReview d-flex">
                        <span></span>
                        <span class="reviewCount">3 Reviews</span>
                        <span class="ml-1 cursor-pointer">Add your review</span>

                    </div>

                    <div class="bookPriceContainer d-flex">
                        <div class="bookPriceExpected">
                            {{book.salePrice}} vnđ
                        </div>
                        <div class="bookPriceActual ml-2">
                            {{book.price}} vnđ
                        </div>
                    </div>
                    <div class="productAction">
                        <div class="d-flex">
                            <input type="number" id="productQuantity" class="mr-2" placeholder="0" min="1" max="" step="1" onkeypress="return event.charCode >= 48">
                            <button id="addToCartBtn" value="CART_ADD_PRODUCT">ADD TO CART</button>
                        </div>
                        <div class="d-flex mt-3">
                            <div class="iconButton">
                                <i class="fa fa-heart"></i>
                            </div>
                            <div class="iconButton">
                                <i class="fa fa-chart-pie"></i>
                            </div>
                            <div class="iconButton">
                                <i class="fa fa-envelope"></i>
                            </div>

                        </div>
                    </div>
                    <p class="productDescription mt-lg-3">
                        {{book.description}}
                    </p>
                </div>
            </div>


            <section id="productInfoTab" class="container">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Home</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link" id="review-tab" data-bs-toggle="tab" data-bs-target="#review" type="button" role="tab" aria-controls="home" aria-selected="true">Review</button>
                    </li>
                    <!-- <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li> -->
                </ul>
                <div class="tab-content mb-5" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <p>
                            The sporty Joust Duffle Bag can't be beat - not in the gym, not on the luggage carousel, not anywhere. Big enough to haul a basketball or soccer ball and some sneakers with plenty of room to spare, it's ideal for athletes with places to go.

                            Dual top handles.
                            Adjustable shoulder strap.
                            Full-length zipper.
                            L 29" x W 13" x H 11".
                        </p>
                    </div>
                    <div class="tab-pane fade" id="review" role="tabpanel" aria-labelledby="review-tab">
                        <section class="reviewContainer">
                            <h3>CUSTOMER REVIEWS</h3>
                            <div class="d-flex flex-column reviewContentList">
                                <div class="review">
                                    <img src="https://scontent-xsp1-3.xx.fbcdn.net/v/t31.18172-1/c0.60.240.240a/p240x240/27788301_747405972119527_849243654152381069_o.jpg?_nc_cat=107&ccb=1-5&_nc_sid=7206a8&_nc_ohc=JQjn5nHGeA0AX_RzCoR&_nc_ht=scontent-xsp1-3.xx&oh=ec13e31278a2c74c4b2da4c161120696&oe=61A78CD2" alt="" class="avatar">
                                    <div class="commentInfo">
                                        <div class="name">
                                            Đức Huy Hoàng
                                        </div>
                                        <div class="date">
                                            10/03/2000
                                        </div>
                                    </div>
                                    <div class="content">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo in voluptatem ea ad magnam voluptas odio quibusdam odit necessitatibus, ipsum neque perspiciatis dolorem architecto cupiditate blanditiis dolorum delectus? Possimus, illum.
                                    </div>
                                </div>

                                <div class="review">
                                    <img src="https://scontent-xsp1-3.xx.fbcdn.net/v/t31.18172-1/c0.60.240.240a/p240x240/27788301_747405972119527_849243654152381069_o.jpg?_nc_cat=107&ccb=1-5&_nc_sid=7206a8&_nc_ohc=JQjn5nHGeA0AX_RzCoR&_nc_ht=scontent-xsp1-3.xx&oh=ec13e31278a2c74c4b2da4c161120696&oe=61A78CD2" alt="" class="avatar">
                                    <div class="commentInfo">
                                        <div class="name">
                                            Đức Huy Hoàng
                                        </div>
                                        <div class="date">
                                            10/03/2000
                                        </div>
                                    </div>
                                    <div class="content">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo in voluptatem ea ad magnam voluptas odio quibusdam odit necessitatibus, ipsum neque perspiciatis dolorem architecto cupiditate blanditiis dolorum delectus? Possimus, illum.
                                    </div>
                                </div>

                            </div>

                            <div class="mt-5 w-50">
                                <div class="input-group">
                                    <div class="input-group-prepend mr-3">
                                        <span class="input-group-text" id="">Your review
                                            <span class="text-danger ml-1">*</span>
                                        </span>
                                    </div>
                                    <textarea class="form-control" id="yourReview"></textarea>
                                </div>
                            </div>

                            <button class="btn submitPreviewBtn mt-5 ml-3">Submit your review</button>
                        </section>
                    </div>

                </div>


            </section>


        </div>

    </div>

    <div class="col-lg-3 col-12 mt-2" id="relatedProduct">
        <h4>Related Products</h4>
        <div class="relatedProductSlide mt-2">

            <div class="bookCategoryItem">
                <div class="bookCategoryItemImgWrapper">
                    <img class="bookCategoryItemImg" src="https://template.hasthemes.com/koparion/koparion/img/product/5.jpg" />
                </div>
                <div class="d-flex flex-column">
                    <div class="bookCategoryItemWrapper">
                        <div class="bookCategoryItemName">
                            Hello world
                        </div>
                        <div class="bookCategoryItemPrice d-flex">
                            <div class="currentPrice ml-1">$30.00</div>
                            <div class="actualPrice">$30.00</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="bookCategoryItem">
                <div class="bookCategoryItemImgWrapper">
                    <img class="bookCategoryItemImg" src="https://template.hasthemes.com/koparion/koparion/img/product/21.jpg" />
                </div>
                <div class="d-flex flex-column">
                    <div class="bookCategoryItemWrapper">
                        <div class="bookCategoryItemName">
                            Hello world
                        </div>
                        <div class="bookCategoryItemPrice d-flex">
                            <div class="currentPrice ml-1">$30.00</div>
                            <div class="actualPrice">$30.00</div>
                        </div>
                    </div>


                </div>
            </div>

            <div class="bookCategoryItem">
                <div class="bookCategoryItemImgWrapper">
                    <img class="bookCategoryItemImg" src="https://template.hasthemes.com/koparion/koparion/img/product/1.jpg" />
                </div>
                <div class="d-flex flex-column">
                    <div class="bookCategoryItemWrapper">
                        <div class="bookCategoryItemName">
                            Hello world
                        </div>
                        <div class="bookCategoryItemPrice d-flex">
                            <div class="currentPrice ml-1">$30.00</div>
                            <div class="actualPrice">$30.00</div>
                        </div>
                    </div>


                </div>
            </div>

        </div>

        <div class="saleImageWrapper">
            <a href="">
                <img src="./img/sale.jpg" alt="">
            </a>
        </div>



    </div>
</div>
{% endblock %}
{% block jsblock %}{% endblock %}
