<section id="lastTweet" class="container-fluid">
    <div class="row">
        <div class="col-6">
            <div class="jumbotron">
                <h4>LATEST TWEETS</h4>
                <div class="row">
                    <div class="col-4 row d-flex justify-content-center">
                        <div class="avatar">
                            <i class="fab fa-twitter" style="color:#fff"></i>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="row">
                            Claritas est etiam processus dynamicus, qui
                            sequitur mutationem consuetudium lectorum. Mirum
                            notare quam
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="jumbotron">
                <h4>Stay connected</h4>
                <div class="row" id="social">
                    <div class="avatar mr-2">
                        <a href="">
                            <i class="fab fa-twitter" style="color:black"></i>
                        </a>
                    </div>
                    <div class="avatar mr-2">
                        <a href="">
                            <i class="fab fa-google" style="color:black"></i>
                        </a>
                    </div>
                    <div class="avatar mr-2">
                        <a href="">
                            <i class="fab fa-facebook" style="color:black"></i>
                        </a>
                    </div>
                    <div class="avatar mr-2">
                        <a href="">
                            <i class="fab fa-youtube" style="color:black"></i>
                        </a>
                    </div>
                    <div class="avatar mr-2">
                        <a href="">
                            <i class="fab fa-flickr" style="color:black"></i>
                        </a>
                    </div>
                    <div class="avatar mr-2">
                        <a href="">
                            <i class="fab fa-vimeo" style="color:black"></i>
                        </a>
                    </div>
                    <div class="avatar mr-2">
                        <a href="">
                            <i class="fab fa-instagram" style="color:black"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
